<<<<<<< HEAD
﻿icon {
=======
.icon {
>>>>>>> 23d180db33d9b8ccfbbae5c78a31eb4c3edf3d9e
  /* Basic styles for placeholder */
  border: 1px dashed var(--accent-color);
  text-align: center;
  line-height: 1; /* Vertically center placeholder text */
  display: flex; /* Ensure flex properties work */
  align-items: center;
  justify-content: center;
}
