<<<<<<< HEAD
﻿App {
=======
.App {
>>>>>>> 23d180db33d9b8ccfbbae5c78a31eb4c3edf3d9e
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
<<<<<<< HEAD
  background-color: #ffffff !important;
=======
  background-color: #282c34;
>>>>>>> 23d180db33d9b8ccfbbae5c78a31eb4c3edf3d9e
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
<<<<<<< HEAD
  color: #111111 !important;
=======
  color: white;
>>>>>>> 23d180db33d9b8ccfbbae5c78a31eb4c3edf3d9e
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 40px;
  width: auto;
  display: inline-block;
}
<<<<<<< HEAD

/* nav bar */
.main-nav {
  display: flex;
  gap: 1rem;
  background: #222;
  padding: 0.5rem;
  align-items: center;
}
=======
>>>>>>> 23d180db33d9b8ccfbbae5c78a31eb4c3edf3d9e
